.aboutMeArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgba(113, 192, 187, 255);
  background-color: white;
  color: rgb(53, 52, 52);
  border: solid 4px rgba(113, 192, 187, 255);
  padding: 0px 10px 0px 10px;
  overflow: auto;

  /* background-color: mediumturquoise; */
}

.aboutMeArea::-webkit-scrollbar {
  width: 10px;
}

.aboutMeArea::-webkit-scrollbar-track {
  background: white;
}

.aboutMeArea::-webkit-scrollbar-track:hover {
  background: white;
  border: solid 1px white;
}

.aboutMeArea::-webkit-scrollbar-thumb {
  border: solid 1px white;
  /* background: rgb(53, 52, 52); */
}

.aboutMeArea::-webkit-scrollbar-thumb:hover {
  border: solid 1px rgba(113, 192, 187, 255);
}

.aboutMeArea::-webkit-scrollbar-thumb:active {
  border: solid 1px rgba(113, 192, 187, 255);
  background: rgba(113, 192, 187, 255);
}

.aboutHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactLink {
  font-family: "Courier Prime", monospace;
  font-size: 1em;
  text-decoration: underline;
  border: none;
  background-color: white;
  color: rgb(53, 52, 52);
}

.contactLink:hover {
  cursor: pointer;
}

.backToTopIcon {
  color: rgba(113, 192, 187, 255);
  transform: rotate(90deg);
  margin-left: 10px;
}

.creditsList {
  list-style-type: none;
}
