@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.mainLogoArea {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 134px;
  height: 80px;
  margin-left: 32px;
}

.logoImageArea {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
}

.mainTitleArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 308px;
}

.headlineTextArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 80px;
  font-size: 2em;
}

/* for currently inactive text */
/* .subHeading {
  font-family: "Montserrat", sans-serif;
} */

.mainMenuArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 134px;
  height: 80px;
  margin-right: 32px;
  z-index: 1;
}

.headerMenuButton {
  border: none;
  padding: 4px;
}

.headerMenuButton:hover {
  border: solid 1px #71c0bb;
  border-radius: 4px;
}

.headerMenuButton:active {
  transform: scale(0.95);
}

.headerMenuItem {
  background-color: #353434;
  border: solid 1px #71c0bb;
  font-size: 1em;
}

.headerMenuItem:hover {
  background-color: #71c0bb;
  color: #353434;
}

/* for the ProjectHeader component */

.homeLinkArea {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  border-radius: 30px;
  width: 60px;
  height: 60px;
}

.backHomeSpan {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}

.homeIcon {
  color: #71c0bb;
  padding: 6px;
  border: solid 2px white;
  border-radius: 24px;
  margin-right: 4px;
}

.homeIcon:hover {
  border: solid 2px #71c0bb;
}

.homeIcon:active {
  background-color: #71c0bb;
  color: #353434;
  border: solid 2px white;
}

.backHomeIcon {
  color: #71c0bb;
  margin-left: 0px;
  font-size: 1.2em;
}
