@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* padding: 0 2rem; */
  background-color: rgb(53, 52, 52);
  color: white;
}

/* custom styling for pop-signpost layout */

.upperContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.topRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 60px;
  margin: 20px;
}

.logoImageArea {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100px;
  height: 60px;
  padding: 10px;
}

.headlineTextArea {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 240px;
  height: 60px;
}

.upperRightArea {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100px;
  height: 60px;
  padding: 10px;
}

.lowerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.middleRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 480px;
  height: 480px;
  font-family: "Courier Prime", monospace;
}

.bottomRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(53, 52, 52);
  color: white;
  width: 240px;
  height: 120px;
  padding: 20px;
}

/* below is styling for cube-div-rotation */

.displayArea {
  width: 360px;
  height: 360px;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: translateZ(180px);
  border: 0;
}

/* this is being defined as 'style' in intro.js */
/* .boxVantage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  position: absolute;
  backface-visibility: hidden;
} */

.frontBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 52, 52);
  border: solid 1px rgb(105, 182, 207);
  width: 360px;
  height: 360px;
  transform: rotate3d(1, 0, 0, 0deg) translateZ(180px);
  position: absolute;
  backface-visibility: hidden;
}

.sideBoxRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 52, 52);
  border: solid 1px lightgreen;
  width: 360px;
  height: 360px;
  transform: rotate3d(1, 0, 0, 90deg) translateZ(180px);
  position: absolute;
  backface-visibility: hidden;
}

.backBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 52, 52);
  border: solid 1px rgb(248, 78, 248);
  width: 360px;
  height: 360px;
  transform: rotate3d(1, 0, 0, 180deg) translateZ(180px);
  position: absolute;
  backface-visibility: hidden;
}

.sideBoxLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 52, 52);
  border: solid 1px orange;
  width: 360px;
  height: 360px;
  transform: rotate3d(1, 0, 0, 270deg) translateZ(180px);
  position: absolute;
  backface-visibility: hidden;
}
