.projectScrollArea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgb(53, 52, 52);
  /* background-color: moccasin;
  color: brown; */
}
