@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* padding: 0 2rem; */
  /* background-color: rgb(53, 52, 52); */
  color: white;
  overflow: hidden;
}

/* custom styling for pop-signpost layout */

/* upper container handles header and non-scrolling elements at top */

.upperContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.topRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 20px;
  border-bottom: solid 1px rgba(170, 199, 91, 255);
}

.scrollBorder {
  background-color: sandybrown;
  width: 100%;
  height: 20px;
}

/* lower container is everything below header */

.lowerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.projectScrollArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  backface-visibility: hidden;
  color: white;
}

.lowerContainer::-webkit-scrollbar {
  width: 10px;
}

.lowerContainer::-webkit-scrollbar-track {
  background: rgb(53, 52, 52);
}

.lowerContainer::-webkit-scrollbar-thumb {
  border: solid 1px rgba(170, 199, 91, 255);
}

.lowerContainer::-webkit-scrollbar-thumb:hover {
  background: #71c0bb;
}

.lowerContainer::-webkit-scrollbar-thumb:active {
  background: rgba(170, 199, 91, 255);
}

.contentScrollArea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-family: "Courier Prime", monospace;
  margin-bottom: 40px;
}

.projectImageArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.projectSummaryArea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 420px;
  margin: 40px;
  /* background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgb(53, 52, 52),
    rgba(0, 0, 0, 0)
  ); */
}
